<% let subjectDisplay = ""; %>
<% if(subject !== "cspe"){ %>
	<% subjectDisplay = subject.charAt(0).toUpperCase() + subject.slice(1); %>
<%  }else{ %>
	<% subjectDisplay = subject.toUpperCase(); %>
<% } %>
<%- include('partials/header',
	 {title : subjectDisplay  + " Analysis", desc : "Access all the questions for a certain topic relating to " + subjectDisplay}) %>
<%- include('partials/message') %>
<%- include('partials/filter') %>
<script type="text/javascript">
	let questions = <%- JSON.stringify(analysis[subject]["hl"]) %>;
	console.log(questions);

</script>
<div class="analysis-container">
	<% let categories = analysis[subject].categories; %>
	<% let text = analysis[subject].text; %>	
	<div class="categories">
		<h3>Categories</h3>
		<ul>
			<li class="selectedCategory"><span>Categories</span> <i class="fas cat-caret fa-caret-down"></i></li>
			<% for (var i = 0; i < categories.length; i++) { %>
				<li 
					<% if(user && (user.local.verified !== false || user.facebook.verified !== false)){ %>
						onClick="changeCat('<%= categories[i] %>')"
					<% } %>
						><%= categories[i] %></li>
			<% } %>
		</ul>
	</div>
	<div class="right" > 
		
		<% if(!user){ %>
			<div class="details"> 
				<h1>Access Denied</h1>
				<hr>
				<h2>You need to login or register to access Exam Paper Analysis</h2>
				<h4>By registering for JC Papers you will receive a 7 Day Free Trial to try out Exam Paper Analysis</h4>
				<div class="btns">
					<a href="/subjects">Papers</a>
					<a href="/registration">SignUp</a>
				</div>
			</div>
		<% } else if(user.local.verified === false || user.facebook.verified === false){%>
				<div class="details">
					<h1>Access Denied</h1>
					<hr>
					<h2>You haven't verified your email Address</h2>
					<h5>In order to access Exam Papers Analysis you must have a verified email address. Click below to resend the verification email</h5>
					<div class="btns">
						<a href="/sendemail">Resend Verification Email</a>
					</div>
				</div>
		<% } else { %>
			<% if(user && (user.local.subscribed === 1 || user.facebook.expires === 1)){ %>
				<div class="details"> 
					<h1>Access Denied</h1>
					<hr>
					<h2>You need to upgrade to a premium account to access Exam Paper Analysis</h2>
					<h4>Premium only costs €5 for 5 months and will undoubtedly help you to achieve the results you are looking for</h4>
					<div class="btns">
						<a href="/upgrade">Upgrade</a>				
					</div>
				</div>
			<%} else { %>
				<div  class="details">
					<%- include(text) %>
				</div> 
				<ul class="questions">
					
				</ul>
			<% } %>
		<% } %>

	</div>
</div>
<script type="text/javascript" src="/js/analysis.js"></script>
<%- include('partials/footer') %>