<% let subjectDisplay = ""; %>
<% if(subject !== "cspe"){ %>
	<% subjectDisplay = subject.charAt(0).toUpperCase() + subject.slice(1); %>
<%  }else{ %>
	<% subjectDisplay = subject.toUpperCase(); %>
<% } %>
<%- include('partials/header', {title : "Junior Cert " + subjectDisplay  + " Past Papers", desc : "JC-Papers is the best way to study Junior Cert Past Papers"}) %>
<%- include('partials/message') %>
<%- include('partials/filter') %>
<div class="papers-container">
	<div class="heading">
		<div  class="subject-name">
			<%= subjectDisplay %>
		</div>
	</div>
	<div class="papers-flexbox">
		<% for (var i = 0; i < juniorCert[subject.toLowerCase()]["years"].length; i++) { %>
			<% var currentYear = juniorCert[subject.toLowerCase()]["years"][i]; %>
			<% var papersList      = juniorCert[subject.toLowerCase()][level][currentYear]; %>
			<div class="section">
				<div class="year">
					<%= currentYear %>
				</div>
				<% if(papersList){ %>
					<% for (var x = 0; x < papersList.length; x++) { %>
						<div class="papers">
							<div class="paper">
								<a  class="paper-link" href="<%= papersList[x][1]%>" target="_blank"><%= papersList[x][0] %></a>
							</div>
							<div class="solutions">
								<a class="paper-link" href="<% papersList[x][3]%>" target="_blank">Solutions</a>
							</div>
						</div> 
					<% } %>
				<% } %>
					
			</div>
		<% } %>
	</div>
</div>

<%- include('partials/footer') %>