<%- include('partials/header', {title : "Profile", desc : "Page containing details of user registered to JC Papers"}) %>
<%- include('partials/message') %>
<%- include('partials/filter') %>
<%
	function formatDate(date) {
	  var monthNames = [
	    "January", "February", "March",
	    "April", "May", "June", "July",
	    "August", "September", "October",
	    "November", "December"
	  ];

	  var day = date.getDate();
	  var monthIndex = date.getMonth();
	  var year = date.getFullYear();

	  return day + ' ' + monthNames[monthIndex] + ' ' + year;
	}
%>
<div class="profile-container">
	<div class="profile-content">
		<h2>Account Details for <%- (user.local.username || user.facebook.name) %></h2>
		<hr>
		<div class="box">
			<div class="profile-row">
				<div>Username</div>
				<div><%- (user.local.username || user.facebook.name) %> </div>
			</div>
			<div class="profile-row">
				<div>Email</div>
				<div><%- (user.local.email || user.facebook.email) %></div>
			</div>
			<div class="profile-row">
				<div>Verified Email</div>
				<% if(user.local.verified || user.facebook.verified) { %>
					<div>Yes</div>
				<% }else{ %>
					<div>No</div>
					<div><a href="/sendemail">Resend Email</a></div> 
				<% } %>
			</div>
			<% if(user.local){ %>	
				<div class="profile-row">
					<div>School Name</div>
					<div><%= user.local.school %></div>
				</div>
			<% } %>
		
			<div class="profile-row">
				<div>Join Date</div>
				<div><%- formatDate((user.local.created || user.facebook.created)) %></div>
			</div>
			
			<div class="profile-row">
				<div>Subscription</div>
				<% if( user.local.subscribed == 2 || user.facebook.subscribed == 2 ){ %>
					<div>Premium Account</div>
				<% }else if( user.local.subscribed == 1 || user.facebook.subscribed == 1 ){ %>
					<div>Basic Account</div>
					<div><a href="/upgrade" class="upgrade">Upgrade to Premium</a></div>
				<% }else if( user.local.subscribed == 0 || user.facebook.subscribed == 0 ){ %>
					<div>Free Trial</div>
					<div><a href="/upgrade" class="upgrade">Upgrade to Premium</a></div>
				<% } %>
			</div>
			
			<% if((user.local.subscribed !== 1) || (user.facebook.subscribed !== 1)){ %>
				<div class="profile-row">
					<div>Expiration Date</div>
					<div><%- formatDate((user.local.expires || user.facebook.expires)) %></div>
				</div>
			<% } %>
		</div>
	</div>
</div>
<%- include('partials/footer') %>